ul.gallery_images {
    margin: 0;
    padding: 0;
}


.gallery_image {
    width: 23%;
    display: inline-block;
    margin: 0;
    padding: 0;

    a {
        display: block;
        border:0;
        background: none;
    }

    img {
        width: 100%;
        height: auto;
        margin: 0 0 10px;
    }

}
