

// SWISS_ICONS
.section_icon_grid {
    padding:0 0 50px 0;
    text-align: center;
    color: $brand_color;

    h3 {
        text-transform: uppercase;
        padding: 0;
        margin: -15px 0 0;

    }

    p {
        font-family: $header_font_stack;
        font-size: 1.4em;
    }

    img {
        width: 100%;
        margin-bottom: 30px;
        transition: all $transition_time;

    }

    .swiss_icon_container:hover {
        img {
            transform: scale(1.18);
        }

    }

    h6 {
      margin: -65px 0 30px;
      position: relative;
      z-index: 2;
    }





}
// END OF SWISS_ICONS
